nav {
  font-weight: bold;
  border-bottom: 1px solid #000033;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  margin: 0;
}

nav li {
  padding: 10px;
  border: 1px solid #ddd;
}

nav a {
  text-decoration: none;
  color: #c74a2b;
}

nav a:hover {
  color: #58410e;
}

main {
  padding: 10px;
}

article {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #b9621a;
}

section {
  flex: 1;
  min-width: 300px;
  padding: 10px;
}

footer {
background-color: #f1f1f1;
padding: 10px;
text-align: center; }

@media (min-width: 1024px){
  nav ul {
    flex-direction: row;
    justify-content: flex-start;
  }
  nav li {
    padding: 10px;
  }
main {
padding: 10px;
}
article {
display: flex;
flex-wrap: wrap;
border-bottom: 2px solid #b9621a;
}
section {
flex: 1;
min-width: 300px;
padding: 10px; }
}